.dashboard-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
}

.dashbaord-status-container {
    display: flex;
    justify-content: space-between;
    width: 80%;
}

.search-input {
    border-radius: 50px;
    padding: 3px 16px;
    width: 50%;
    margin: 60px 10px 10px 10px;
    font-size: 18px;
    letter-spacing: 1px;
}

.search-input:focus {
    outline-width: 0;
}

.dashboard-table-container {
    max-height: 259px;
    overflow: scroll;
    width: 70%;
}

.dashboard-table {
    width: 100%;
    border-collapse: collapse;
}

.dashboard-table .row {
    background-color: salmon;
    border: 10px black solid;
}

.dashboard-table td,
.dashboard-table tr,
.dashboard-table th {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: start;
}

.dashboard-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.dashboard-graph-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.dashboard-status-list {}

/* Tablet */
@media only screen and (max-width: 1024px) {
    .dashboard-table-container {
        width: 90%;
    }

    .dashbaord-status-container {
        width: 93%;
    }

    .search-input {
        width: 70%;
    }
}

@media only screen and (max-width: 769px) {
    .dashboard-table {
        width: 100%;
    }

    .dashboard-container {
        padding-top: 80px;
    }

    .dashboard-table-container {
        width: 90%;
    }

    .dashbaord-status-container {
        display: flex;
        flex-direction: column-reverse;
    }

}

/* Mobile */
@media only screen and (max-width: 415px) {
    .dashboard-chart {
        overflow: scroll;
    }

    .dashboard-graph-container {
        display: block;
    }

    .dashboard-button {
        display: flex;
        align-self: center;
        justify-content: flex-end;
    }
}