.dashboard-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
}

.dashbaord-status-container {
    display: flex;
    justify-content: space-between;
    width: 80%;
}

.search-input {
    border-radius: 50px;
    padding: 3px 16px;
    width: 50%;
    margin: 60px 10px 10px 10px;
    font-size: 18px;
    letter-spacing: 1px;
}

.search-input:focus {
    outline-width: 0;
}

.dashboard-table-container {
    max-height: 259px;
    overflow: scroll;
    width: 70%;
}

.dashboard-table {
    width: 100%;
    border-collapse: collapse;
}

.dashboard-table .row {
    background-color: salmon;
    border: 10px black solid;
}

.dashboard-table td,
.dashboard-table tr,
.dashboard-table th {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: start;
}

.dashboard-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.dashboard-graph-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.table-delete-icon {
    cursor: pointer;
    transition: ease-in-out 0.3s;
}

.table-delete-icon:hover {
    color: salmon;
}

.table-create-icon {
    cursor: pointer;
    transition: ease-in-out 0.3s;
}

.table-create-icon:hover {
    color: mediumaquamarine;
}

.dashboard-status-list {
    word-wrap: break-word;
    height: 250px;
    width: 210px;
    margin-top: 23px;
    overflow-y: scroll;
}

.dashboard-button-filter {
    background-color: #aaaaaa;
    border: none;
    padding: 5px 15px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: ease-in-out 0.3s;
}

.dashboard-button-filter:focus {
    outline: none;
}

.dashboard-button-filter:hover {
    background-color: #ddd;
}

.dashboard-button-delete {
    background-color: #ef233c;
}

.dashboard-table-empty {
    margin-top: 100px;
}

.url-link .tooltip-message {
    visibility: hidden;
    opacity: 0.5;
    width: 100px;
    background-color: #ABC4FF;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 2px 0;
    font-size: 13px;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    left: 90%;
}

.url-link:hover .tooltip-message {
    visibility: visible;
}

.back-button {
    text-decoration: none;
    color: #fff;
    background-color: #ABC4FF;
    padding: 6px 15px;
    border-radius: 5px;
}

/* Tablet */
@media only screen and (max-width: 1024px) {
    .dashboard-table-container {
        width: 90%;
    }

    .dashbaord-status-container {
        width: 93%;
    }

    .search-input {
        width: 70%;
    }

    .url-link:hover .tooltip-message {
        visibility: hidden;
    }
}

@media only screen and (max-width: 769px) {
    .dashboard-table {
        width: 100%;
    }

    .dashboard-container {
        padding-top: 80px;
    }

    .dashboard-table-container {
        width: 90%;
    }

    .dashbaord-status-container {
        display: flex;
        flex-direction: column-reverse;
    }

    .url-link:hover .tooltip-message {
        visibility: hidden;
    }

}

/* Mobile */
@media only screen and (max-width: 415px) {
    .dashboard-chart {
        overflow: scroll;
    }

    .dashboard-graph-container {
        display: block;
    }

    .dashboard-button {
        display: flex;
        align-self: center;
        justify-content: flex-end;
    }

    .url-link:hover .tooltip-message {
        visibility: hidden;
    }
}