.login-page-container {
    display: flex;
}

.login-img {
    width: 65%;
}

.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    font-family: 'RocknRoll One', sans-serif;
    padding: 5px 10px;
}

.login-container img {
    margin-top: 30px;
    height: 200px;
}

.login-container h1 {
    margin-top: 10px;
    font-size: 50px;
    letter-spacing: 5px;
}

.login-container p {
    margin-top: 10px;
    font-size: 20px;
    letter-spacing: 3px;
    text-align: center;
}

.login-container h3 {
    margin-top: 50px;
    width: 100%;
    font-weight: normal;
    font-size: 15px;
    letter-spacing: 5px;
}

.facebook-button {
    background: #4267B2;
    border-radius: 10px;
    padding: 10px 18px;
}



.facebook-login-container {
    border: none;
    background-color: rgba(0, 0, 0, 0);
    margin-top: 15px;
    cursor: pointer;
    margin-bottom: 30px;
}

/* Tablet */
@media only screen and (max-width: 1024px) {
    .login-img {
        height: 450px;
        margin-top: 90px;
        width: auto;
    }

    .login-container img {
        margin-top: 80px;
        height: 100px;
    }

    .login-container h1 {
        margin-top: 10px;
        font-size: 30px;
        letter-spacing: 5px;
    }

    .login-container h3 {
        margin-top: 20px;
    }
}

@media only screen and (max-width: 769px) {
    .login-img {
        height: 350px;
        margin-top: 90px;
        width: auto;
    }

    .login-container img {
        margin-top: 80px;
        height: 80px;
    }

    .login-container h1 {
        font-size: 20px;
    }

    .login-container p {
        font-size: 16px;
    }

    .login-container h3 {
        margin-top: 10px;
    }
}

@media only screen and (max-width: 415px) {
    .login-page-container {
        display: flex;
        flex-direction: column;
        overflow-x: hidden;
    }

    .login-img {
        height: 350px;
        margin-top: 30px;
        width: auto;
    }

    .login-container img {
        margin-top: 0;
        height: 80px;
    }

    .login-container h1 {
        font-size: 30px;
    }

    .login-container p {
        font-size: 18px;
    }

    .login-container h3 {
        margin-top: 30px;
    }
}