* {
    margin: 0;
    padding: 0;
    font-family: 'RocknRoll One', sans-serif;
}

.main-container {
    padding-top: 20px;
    min-height: 91vh;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 0;
}