.nav-logo {
    height: 70px;
    position: fixed;
    left: 0;
    cursor: pointer;
    background-color: #fff;
    padding-right: 10px;
    border-end-end-radius: 35px;
}

.nav-container {
    position: fixed;
    display: flex;
    height: 50px;
    margin-left: 75px;
    width: 95vw;
    justify-content: flex-end;
    border-bottom: #B3C9FF 2px solid;
    background-color: #fff;
}

.nav-button {
    background-color: #ABC4FF;
    text-align: center;
    padding: 15px 15px;
    color: #fff;
    text-decoration: none;
    font-size: 15px;
}