.nav-logo {
    height: 70px;
    position: fixed;
    left: 0;
    cursor: pointer;
    background-color: #fff;
    padding-right: 10px;
    border-end-end-radius: 35px;
    border-end-start-radius: 30px;
}

.nav-container {
    position: fixed;
    display: flex;
    height: 50px;
    margin-left: 75px;
    width: 95vw;
    justify-content: flex-end;
    border-bottom: #B3C9FF 2px solid;
    background-color: #fff;
    z-index: 1;
}

.nav-button {
    background-color: #ABC4FF;
    text-align: center;
    padding: 15px 15px;
    color: #fff;
    text-decoration: none;
    font-size: 15px;
}

/* Tablet */
@media only screen and (max-width: 1025px) {
    .nav-container {
        width: 93vw;
    }
}

@media only screen and (max-width: 770px) {
    .nav-container {
        width: 91vw;
    }
}

/* Mobile */
@media only screen and (max-width: 415px) {
    .nav-container {
        width: 82vw;
    }
}