.nav-logo {
    height: 70px;
    position: fixed;
    left: 0;
    cursor: pointer;
}

.nav-container {
    display: flex;
    height: 50px;
    margin-left: 75px;
    justify-content: flex-end;
    border-bottom: #B3C9FF 2px solid;
}

.nav-login {
    /*  */
}